<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script type="text/javascript">
        function changeScope(elemToShow,elemToHide) {
            document.getElementById(elemToShow).style.display = "block";
            document.getElementById(elemToHide).style.display = "none";
}
</script>



<h1> Hello AYA </h1>

<form>
  <form action="/search/recipes" method="get">
    <div class="input-group" >
      <input type="radio" name=searchOption value="one" onclick="changeScope('oneSearch','twoSearch');"
             Search By Recipe >
      <input type="search" name="keyword"  th:value="${keyword}" class="form-control rounded" placeholder="Search by recipe" aria-label="Search" aria-describedby="search-addon" required />
      <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
  </form>


  <form action="/search/Ingredients" method="get">
    <div class="input-group">
      <input type="radio" name=searchOption value="two" onclick="changeScope('twoSearch','oneSearch');" > Two Search
      <input type="search" name="keywords" id="keywords"  class="form-control rounded" placeholder="Search by ingredients" aria-label="Search" aria-describedby="search-addon" required />
      <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
  </form>
  <br>
</form>


</body>
</html>