<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<script type="text/javascript">-->
<!--        function changeScope(elemToShow,elemToHide) {-->
<!--            document.getElementById(elemToShow).style.display = "block";-->
<!--            document.getElementById(elemToHide).style.display = "none";-->
<!--}-->
<!--</script>-->


<!--<div class="bg-image"-->
<!--     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');-->
<!--            height: 50vh;">-->
<!--</div>-->

<h1> Hello AYA </h1>

<form>
    <input type="radio" name=searchOption value="one" onclick="changeScope('oneSearch','twoSearch');"> One Search
    <input type="radio" name=searchOption value="two" onclick="changeScope('twoSearch','oneSearch');" > Two Search<br>
</form>

<!--<table>-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Description</th>-->
<!--    </tr>-->
<!--    <tr th:each="recipe: ${RecipesList}" class="table-row">-->
<!--        <td th:text = "${recipe.name}"></td>-->
<!--&lt;!&ndash;        <td th:text = "${recipe.description}"></td>&ndash;&gt;-->
<!--    </tr>-->
<!--</table>-->

</body>
</html>