<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:action="@{/searchIngredients}" method="post">
    Filter<input type="text" name="keywords" id="keywords" size="50" th:value="${keywords}" required />
    &nbsp;
    <button type="submit" value="Search" >Search</button>
    <button type="submit" value="Clear"  onclick="clearSearch()" >Clear</button>
    &nbsp;
    <!--    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />-->
</form>


<!--<table>-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--    </tr>-->
<!--    <tr th:each="ingredient: ${IngredientsList}" class="table-row">-->
<!--        <td th:text = "${ingredient.name}"></td>-->
<!--&lt;!&ndash;        <td th:text = "${recipe.name}"></td>&ndash;&gt;-->
<!--    </tr>-->
<!--</table>-->

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr th:each="recipe: ${RecipesList}" class="table-row">
        <td th:text = "${recipe.name}"></td>
<!--        <td th:text = "${recipe.description}"></td>-->
    </tr>
</table>

</body>
</html>