<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Recipe</title>
</head>
<body>
<form method="post"  action="/recipe/update"  id="updateForm">
    <label for="recipeNameupdate">Recipe Name</label>
    <input type="text" id="recipeNameupdate" th:value="${recipe_name}" name="name">

    <label for="descriptionupdate">Recipe Description</label>
    <input type="text" id="descriptionupdate" th:value="${recipe_description}"  name="description">

    <input type="hidden" th:value="${recipe_id}" name="userRecipe_id">

    <button type="submit">Done</button>
</form>

</body>
</html>